/* Start Media Queries Screens 768px and 1024px */
.dropdown:hover > .dropdown-menu {
  display: block;
  margin-left: -73px;
  text-align: end;
  background-color: #100f0f;
}

.dropdown-item:hover {
  background-color: #c21010;
}

.profile-user {
  margin-right: 5px;
  width: 40px;
  height: 40px;
}

span {
  user-select: none;
}
/* End Media Queries Screens 768px and 1024px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .dropdown:hover > .dropdown-menu {
    margin-left: -75px;
  }

  .profile-user {
    width: 37px;
    height: 37px;
  }
}
/* End Media Queries Screens 767px */
