<section class="login__container d-flex flex-column justify-content-around">
  <h2 class="fw-bold">{{loginName}}</h2>
  <form class="d-flex flex-column">
    <input *ngFor=" let inputValue of inputValues" class="input" type="{{inputValue.type}}"
      placeholder="{{inputValue.placeholder}}" />
    <button class="button">{{loginName}}</button>
    <div class="login__container--remember-me d-flex justify-content-between">
      <label>
        <input type="checkbox" name="" id="cbox1" value="checkbox" />{{checkboxValue}}
      </label>
      <a class="fw-bold" routerLink={{urlMaintenance}}>{{forgetPassword}}</a>
    </div>
  </form>
  <section class="login__container--social-media">
    <div class="d-flex align-items-center" *ngFor=" let socialMedia of socialMedias"><img src="{{socialMedia.logo}}"
        alt="{{socialMedia.alt}}" />
      {{socialMedia.login}}</div>
  </section>
  <p class="login__container--register">
    {{neverAccount}} <a class="fw-bold" routerLink={{urlSignin}}>{{signin}}</a>
  </p>
</section>
