.nav-item {
  padding: 3px 15px;
  font-size: 17px;
}

.nav-link{
  text-decoration: none;
  padding: 0px;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Start Media Queries Screens 1023px */
@media screen and (max-width: 1023px) {
  .nav-item {
    font-size: 15px;
  }
}
/* End Media Queries Screens 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .nav-item {
    font-size: 13px;
  }
}
/* End Media Queries Screens 767px */
