/* Start Media Queries Screens 1024px */
.browser {
  width: 88vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel {
  max-width: 88vw;
  overflow: auto;
  /* padding: 25px; */
  position: relative;
  /* border-style: solid; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* flex-wrap: nowrap; */
}
/* End Media Queries Screens 1024px */

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .browser {
    width: 92vw;
  }

  .carousel {
    width: 92vw;
  }
}
/* End Media Queries Screens 768px and 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .browser {
    width: 95vw;
  }

  .carousel {
    width: 95vw;
  }
}
/* End Media Queries Screens 767px */
