<div class="container-fluid" *ngFor="let carouselMovie of carouselMovies">
  <div class="row">
    <div class="col-6 title-col d-flex justify-content-start">
      <h2 class="carousel__title">{{ carouselMovie.category }}</h2>
    </div>
    <div class="col-6 numbers-col d-flex justify-content-end">
      <span class="carousel__numbers"
        >{{ carouselMovie.sum + 1 }}/{{ carouselMovie.numberSlide }}</span
      >
    </div>
    <div class="col arrow-col">
      <button
        class="carousel__arrow"
        (click)="backSlide(1, carouselMovie.id)"
        *ngIf="carouselMovie.sum + 1 > 1"
      >
        <fa-icon [icon]="faAngleLeft"></fa-icon>
      </button>
    </div>
    <div class="col carousel-col" #carouselMove>
      <div class="carousel__card">
        <figure
          class="carousel__card--fig"
          #carouselItem
          *ngFor="let coverL of carouselMovie.videos"
          [ngClass]="coverL.class"
        >
          <img
            class="fig__img"
            src="{{ coverL.cover }}"
            alt="{{ coverL.title }}"
          />
          <figcaption class="fig__details">
            <div class="carousel__card--buttons">
              <img
                class="buttons__icon"
                *ngFor="let detail of coverL.buttons"
                src="{{ detail.source }}"
                alt="{{ detail.alt }}"
              />
            </div>
            <div class="carousel__card--details">
              <span class="details__title">
                {{ coverL.title }}
              </span>
              <span class="details__subtitle">{{ coverL.description }}</span>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col arrow-col">
      <button
        class="carousel__arrow"
        (click)="nextSlide(1, carouselMovie.id)"
        *ngIf="carouselMovie.sum + 1 < carouselMovie.videos.length"
      >
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </button>
    </div>
    <div class="col-12 dot-col d-flex justify-content-center">
      <button class="carousel-dot" *ngFor="let number of numbers" (click)="buttonSlide(number, carouselMovie.id)"></button>
    </div>
  </div>
</div>
