/* Start Media Queries Screens 1024px */
.m-bottom {
  margin-bottom: 12px;
}

/* Cols Styles Start */
.col-12,
.col-6,
.col {
  padding: 0px;
}

.col-title {
  padding-left: 5%;
}

.col-numbers {
  padding-right: 5%;
}

.col-arrow {
  max-width: 5%;
}

.col-carousel {
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition-property: all;
  transition-duration: 0.5s;
}

.col-dot {
  padding: 5px 0px;
}

/* Cols Styles End */

.carousel__title {
  font-size: 20px;
}

.carousel__numbers {
  display: flex;

  position: absolute;
  font-size: 16px;
  font-weight: bold;

  width: 50px;
  height: 35px;

  border-radius: 10px;
  background-color: var(--numbers-color);

  align-items: center;
  justify-content: center;
}

.line {
  border-style: solid;
  color: white;
  width: 90%;
}

.carousel__arrow {
  font-size: 22px;
  font-weight: bold;

  width: 35px;
  height: 40px;

  cursor: pointer;
  transition: 0.35s;

  color: white;
  border-style: none;
  border-radius: 5px;
  background-color: var(--arrows-color);
}

.carousel__arrow:disabled,
.carousel__arrow:hover:disabled {
  background-color: gray;
}

.carousel__arrow:hover {
  background-color: var(--arrows-color2);
}

.carousel__card {
  display: flex;
  flex-direction: row;
  padding: 70px 0px;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.carousel__card--fig {
  position: relative;
  margin: 0px 7.5px;
  padding: 0px;
  max-width: 200px;
  border-radius: 20px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
}

.carousel__card--fig:hover ~ .carousel__card--fig {
  transform: translate3d(100px, 0, 0);
}

.carousel__card:hover .carousel__card--fig {
  opacity: 0.3;
}

.carousel__card:hover .carousel__card--fig:hover {
  transform: scale(1.5);
  opacity: 1;
}

.carousel__card--fig:hover .fig__details {
  opacity: 1;
  color: white;
}

.fig__img {
  position: relative;
  width: 200px;
  height: 250px;
  object-fit: cover;
  pointer-events: none;
  border-radius: 20px;
}

.fig__details {
  display: flex;
  position: absolute;
  bottom: 0%;
  padding-left: 10px;
  padding-bottom: 10px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0;
  font-size: 10px;
  font-weight: 700;
  transition: 450 ms opacity;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  min-height: 250px;
  border-radius: 20px;
}

.carousel__card--buttons {
  display: flex;
  flex-direction: row;
}

.buttons__icon {
  height: 15px;
  margin: 0 5px 0 0;
}

.carousel__card--details {
  display: flex;
  flex-direction: column;
}

.carousel__dot {
  width: 18px;
  height: 18px;
  margin: 0 5px;

  cursor: pointer;

  border-style: none;
  border-radius: 50%;
  background-color: var(--dots-color);
}

/*Start Dinamic Class*/
.active-dot {
  background-color: var(--dots-color2);
}

/*End Dinamic Class*/
/* End Media Queries Screens 1024px */

/* Start Media Queries Screens 1023px */
@media screen and (max-width: 1023px) {
  .carousel__title {
    font-size: 18px;
  }

  .carousel__numbers {
    width: 45px;
    height: 30px;

    font-size: 14px;
    border-radius: 8px;
  }

  .col-arrow {
    max-width: 5%;
  }

  .carousel__arrow {
    font-size: 20px;

    width: 31px;
    height: 36px;
  }

  .carousel__card {
    padding: 67px 0px;
  }

  .carousel__card--fig {
    max-width: 157px;
    border-radius: 18px;
  }

  .carousel__card--fig:hover ~ .carousel__card--fig {
    transform: translate3d(80px, 0, 0);
  }

  .fig__img {
    width: 157px;
    height: 210px;
    border-radius: 18px;
  }

  .fig__details {
    min-height: 210px;
    border-radius: 18px;
    font-size: 9px;
  }

  .buttons__icon {
    height: 12px;
  }
}

/* End Media Queries Screens 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .carousel__title {
    font-size: 16px;
  }

  .carousel__numbers {
    width: 40px;
    height: 25px;

    font-size: 12px;

    border-radius: 6px;
  }

  .col-arrow {
    max-width: 8%;
  }

  .carousel__arrow {
    font-size: 18px;

    width: 27px;
    height: 32px;
  }

  .carousel__card {
    padding: 64px 0px;
  }

  .carousel__card::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .carousel__card--fig {
    max-width: 93px;
    border-radius: 16px;
  }

  .carousel__card--fig:hover ~ .carousel__card--fig {
    transform: translate3d(50px, 0, 0);
  }

  .fig__img {
    width: 93px;
    height: 120px;
    border-radius: 16px;
  }

  .fig__details {
    min-height: 120px;
    border-radius: 16px;
    font-size: 6px;
  }

  .buttons__icon {
    height: 10px;
  }
}

/* End Media Queries Screens 767px */
