<div class="carousel__container" *ngFor="let carouselMovie of carouselMovies">
  <h2 class="carousel__title">{{carouselMovie.category}}</h2>
  <div class="carousel__card" #carouselMove (swipeLeft)="1" (swipeRight)="1">
    <figure class="carousel__card--fig" *ngFor="let coverL of carouselMovie.videos">
      <img class="fig__img" src="{{coverL.cover}}" alt="{{coverL.title}}" />
      <figcaption class="fig__details">
        <div class="carousel__card--buttons">
          <img class="buttons__icon" *ngFor="let detail of coverL.buttons" src="{{detail.source}}"
            alt="{{detail.alt}}" />
        </div>
        <div class="carousel__card--details">
          <span class="details__title">
            {{coverL.title}}
          </span>
          <span class="details__subtitle">{{coverL.description}}</span>
        </div>
      </figcaption>
    </figure>
  </div>
</div>
