/* Start Media Queries Screens 1024px */
.carousel__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  /* border-style: solid; */
}

.carousel__title {
  font-size: 20px;
}

.left {
  position: absolute;
  left: 0;
}

.right {
  position: absolute;
  right: 0;
}

.carousel__card {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 70px 0px;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  /* border-style: solid; */
}

/* .carousel__card::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  cursor: pointer;
} */

.carousel__card--fig {
  margin: 0 10px 0 0px;
  padding: 0px;
  max-width: 200px;
  border-radius: 20px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  position: relative;
}

.marginlast{
  margin: 0px;
}

.carousel__card--fig:hover ~ .carousel__card--fig {
  transform: translate3d(100px, 0, 0);
}

.carousel__card:hover .carousel__card--fig {
  opacity: 0.3;
}

.carousel__card:hover .carousel__card--fig:hover {
  transform: scale(1.5);
  opacity: 1;
}

.carousel__card--fig:hover .fig__details {
  opacity: 1;
  color: white;
}

.fig__img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  position: relative;
  pointer-events: none;
  border-radius: 20px;
}

.fig__details {
  position: absolute;
  bottom: 0%;
  padding-left: 10px;
  padding-bottom: 10px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0;
  font-size: 10px;
  font-weight: 700;
  transition: 450 ms opacity;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  min-height: 250px;
  border-radius: 20px;
}

.carousel__card--buttons {
  display: flex;
  flex-direction: row;
}

.buttons__icon {
  height: 15px;
  margin: 0 5px 0 0;
}

.carousel__card--details {
  display: flex;
  flex-direction: column;
}
/* Start Media Queries Screens 1024px */

/* Start Media Queries Screens 1023px */
@media screen and (max-width: 1023px) {
  .carousel__card {
    padding: 67px 0px;
  }

  .carousel__card--fig {
    max-width: 180px;
    border-radius: 18px;
  }

  .fig__img {
    width: 180px;
    height: 230px;
    border-radius: 18px;
  }

  .fig__details {
    min-height: 230px;
    border-radius: 18px;
  }
}
/* End Media Queries Screens 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .carousel__card {
    padding: 64px 0px;
  }

  .carousel__card::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .carousel__card--fig {
    max-width: 160px;
    border-radius: 16px;
  }

  .fig__img {
    width: 160px;
    height: 210px;
    border-radius: 16px;
  }

  .fig__details {
    min-height: 210px;
    border-radius: 16px;
  }
}
/* End Media Queries Screens 767px */
